{% extends 'learnify/base.html' %}

{% block content %}
    <ul class="course-container">
    {% for course in courses %}
        <li class="course-row">
            <video height="300" controls>
                <source src="media/{{course.preview_video}}" type="video/webm">
                Your browser does not support HTML5 video.
            </video>
            <div class="course-details">
                <a href="{% url 'course_detail' pk=course.id %}">
                    <h3 class="course-title">{{ course.title }}</h3><br>
                    <p>{{course.description}}</p>
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}