{% extends 'learnify/base.html' %}

{% block content %}
<ul class="course-container">
    {% for course in courses %}
    <li class="course-row">
        <video height="300" controls>
            <source src="media/{{course.preview_video}}" type="video/webm">
            Your browser does not support HTML5 video.
        </video>
        <div class="course-description">
            <a href="{% url 'course_detail' pk=course.id %}">
                <h3 class="course-title">{{ course.title }}</h3><br>
                <p>{{course.description}}</p>
                <p class="course-price">${{course.price}}</p>
                <form action =  "{% url 'charge' pk=course.id %}" method="post">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" 
                    class="stripe-button" 
                    data-key="{{stripe_key}}"
                    data-description="{{course.title}}" 
                    data-amount="{{course.price_total}}" 
                    data-locale="auto" 
                    data-label="Purchase Course">
                    </script>
                </form>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}