* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}


a {
  text-decoration: none;
  color: #333;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}


.course-row {
  display: flex;
  height: 300px;
}

.course-details {
  padding: 20px;
  background: #333;
}

.course-details h3 {
  margin: 0;
  color: whitesmoke;
}

.course-details p {
  color: whitesmoke;
}
