* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(65, 132, 255);
}

main {
  padding: 64px 0 0 0;
}

ul {
  list-style: none;
  padding: 0;
}


a {
  text-decoration: none;
  color: #333;
}

nav {
  background: whitesmoke;
  margin: 0;
  position: fixed;
  top: 0;
  height: 64px;
  width: 100vw;
}

nav ul {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.forest {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.woods {
  border-radius: 0%;
}

/*//////////// dropdown profile menu ////////////*/


/*//////////// course create form start ////////////*/

.course-create {
  width: 100%;
  background: #bbbbbb;
  margin: 0;
  padding: 16px;
}

.course-create h1 {
  margin-top: 0;
}

/*//////////// forms ////////////*/

input,
button,
select {
  height: 24px;
}

input,
button,
textarea {
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}



/*//////////// course create form end ////////////*/
/*//////////// course page start ////////////*/

.course-container {

  margin: 0;
  padding: 12px 0;
  background: #666
}

.course-row {
  display: flex;
  height: 300px;
  margin: 12px 0;
}

.course-details {
  padding: 20px;
  background: #333;
}

.course-details h3 {
  margin: 0;
  color: whitesmoke;
}

.course-details p {
  color: whitesmoke;
}

/* ////////// stripe button start//////////// */

button.stripe-button-el,
button.stripe-button-el>span {
  background-color: #666666;
  background-image: none;
}
/* ////////////stripe button end///////////// */

/*//////////// course page end ////////////*/
/*//////////// profile start ////////////*/

.profile-pic {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.profile-name {
  text-transform: capitalize;
}

.profile-info {
  padding: 12px;
}

/*//////////// profile end ////////////*/
/*//////////// footer start ////////////*/

footer {
  position: fixed;
  bottom: 100vh;
  margin-top: 20px;
  text-align: center;
  background: black;
  color: whitesmoke;
  padding:10px;
}
