* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #7FE8EF;
}

main {
  padding: 64px 0 0 0;
}

ul {
  list-style: none;
  padding: 0;
}


a {
  text-decoration: none;
  color: rgb(130, 197, 202);
}

nav {
  background: #003346;
  margin: 0;
  position: fixed;
  top: 0;
  height: 64px;
  width: 100vw;
  z-index: 2;
}

nav ul {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-profile-pic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/*//////////// dropdown profile menu ////////////*/


.people {
  padding: 6px 9px;
  border: solid 2px whitesmoke;
}

.people:hover {
  background-color: white;
}

.nav-dropdown {
  position: absolute;
  display: inline-block;
  background-color: whitesmoke;
  z-index: 100;
  margin-left: 80vw;
  border-radius: 0 0 4px 4px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
}

nav ul li {
  position: relative;
  color: #000;
  text-decoration: none;
}

nav ul li:hover {
  color: #000;
}

nav ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(130, 197, 202);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

nav ul li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*//////////// Landing Page index.html ////////////*/

.welcome, .about {
  text-align: center;
  color: #003346;
}

.jumbotron {
  background-color: #003346;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
}

.jumbotron label {
  color: #7FE8EF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.jumbotron form {
  padding-left: 10px;
}

/* .jumbotron form input {
  margin-left: 50%;
  margin-right: 50%;
} */

.helptext {
  display: none;
}

.register {
  text-align: center;
  padding-top: 5px;
  color: #00BBCA
}



input[type="submit"] {
  margin-bottom: 15px;
  background-color: #7FE8EF;
}

.jumbotron input {
  width: 97%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #003346;
}




/*//////////// course create form start ////////////*/

.course-create {
  width: 100%;
  background: #bbbbbb;
  margin: 0;
  padding: 16px;
}

.course-create h1 {
  margin-top: 0;
}

/*//////////// forms ////////////*/

input,
button,
select {
  height: 24px;
}

input,
button,
textarea {
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}



/*//////////// course create form end ////////////*/
/*//////////// course page start ////////////*/

.course-container {

  margin: 0;
  padding: 20px 0;
  background: rgb(130, 197, 202);
}

.course-row {
  display: flex;
  height: 300px;
  margin: 20px 0;
}

.course-details {
  padding: 20px;
  background: rgba(0,0,0,0.3);
}

.course-details h3 {
  margin: 0;
  color: whitesmoke;
}

.course-details p {
  color: whitesmoke;
}

/* ////////// stripe button start//////////// */

button.stripe-button-el,
button.stripe-button-el>span {
  background-color: #003346;
  color: white;
  background-image: none;
}

/* ////////////stripe button end///////////// */

/*//////////// course page end ////////////*/
/*//////////// profile start ////////////*/

.profile-pic {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.profile-name {
  text-transform: capitalize;
}

.profile-info {
  padding: 12px;
}

/*//////////// profile end ////////////*/
/*//////////// footer start ////////////*/

footer {
  position: absolute;
  bottom: 100vh;
  margin-top: 20px;
  text-align: center;
  background: black;
  color: whitesmoke;
  padding:10px;
}

/*///////// About Us Page Start ///////////*/

.about-header {
  text-align: center;
  margin-top: 2.5%;
}

.about-pic {
  width:150px;
  height:150px;
  border-radius: 50%;
}

.about-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
  color: #454;
}

.about-article {
  margin: 0 2.5%;
}

.about-separator {
  border: 1.25px solid whitesmoke;
}
.about-body {
  margin-bottom: 5%;
  margin-top: 2.5%;
}

/*////////// About us page end ////////////////////*/

/*/////////// Media Queries //////////////////////*/

/* Course Page */
@media screen and (max-width: 1025px) {
  .course-row {
    display: flex;
    flex-direction: column;
    margin-top:1%;
    height: 100%;
  }
}

/* About Us Page */
@media screen and (max-width:850px) {
  
  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-article {
    margin-top: 5%;
  }
}